{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to Digital and Connected Learning.</h1>
  <p class="lead">Choose an option:</p>
  
  <!-- User Signup and Login Buttons -->
  {% if not current_user.is_authenticated %}
    <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}" role="button">User Sign Up</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">User Login</a>
  {% endif %}
  
  <!-- Staff Signup and Login Buttons -->
  {% if not current_user.is_authenticated %}
    <a class="btn btn-primary btn-lg" href="{{ url_for('staff_signup') }}" role="button">Staff Sign Up</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('staff_login') }}" role="button">Staff Login</a>
  {% endif %}
</div>
{% endblock %}
